<div data-module="UserGreeting"
     data-locale="@Sitecore.Context.Language.Name"
     data-datetime-format="LLLL"  @* In a real project, this value should come from custom site settings *@
     data-user="@Sitecore.Context.User">
</div>