<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div>@Html.Sitecore().Placeholder("main")</div>
    <script type="text/javascript" src="/js/bundle.min.js"></script>
</body>
</html>